<article class="col-md-6 col-lg-3">
    <div class="card-body">
        <img class="card-img-top" src="{{this.photo}}" alt="{{this.name}} {{this.lastName}}" />
        <hr>
        <h5 class="card-title">{{this.name}} {{this.lastName}}</h5>
        <p class="card-text">{{this.team}}</p>
    </div>
</article>